.content-wrapper {
  display: flex;
  width: 100%;
  padding: 140px 0px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width: 991px) {
  .content-wrapper {
    flex-direction: column;
    padding: 20px 0px;
  }
  .text-section {
    order: 2; /* Set text-section to appear below the image */
  }

  .content-image {
    order: 1; /* Set content-image to appear above the text-section */
  }
}

.text-section {
  display: flex;
  width: 100%; /* Adjusted width for responsiveness */
  max-width: 413px; /* Added max-width for better responsiveness */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.paragraph,
.title {
  color: var(--Body-Text, #2E2E2E);
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  align-self: stretch;
}

.paragraph {
  font-size: 16px;
}

.title {
  font-size: 22px;
}

.content-image {
  width: 100%; /* Adjusted width for responsiveness */
  max-width: 345px; /* Added max-width for better responsiveness */
  height: auto; /* Ensures the image scales proportionally */
  flex-shrink: 0;
}
