<div>
<section class="content-wrapper">
  <section class="text-section">
    <h2 class="title">Proposition 1</h2>
    <br>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
  </section>
  <img loading="lazy" src="../../assets/prop_1.png" alt="" class="content-image" />
  </section>
  
  <section class="content-wrapper">
    <img loading="lazy" src="../../assets/prop_2.png" alt="" class="content-image" />
    <section class="text-section">
      <h2 class="title">Proposition 2</h2>
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
    </section>
  </section>

  <section class="content-wrapper">
    <section class="text-section">
      <h2 class="title">Proposition 3</h2>
      <br>
      <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
    </section>
    <img loading="lazy" src="../../assets/prop_1.png" alt="" class="content-image" />
    </section>

    <section class="content-wrapper">
      <img loading="lazy" src="../../assets/prop_2.png" alt="" class="content-image" />
      <section class="text-section">
        <h2 class="title">Proposition 4</h2>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
      </section>
    </section>
  </div>
  