<section class="content-wrapper">
    <div class="content-container">
      <article class="article">
        <!-- Section 1: Text on left, image on right -->
        <section class="text-section">
          <h2 class="title">Proposition 1</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
        </section>
        <aside class="image-section">
          <img loading="lazy" src="../../assets/prop_1.png" alt="" class="content-image" />
        </aside>
      </article>
    </div>
  </section>
  
  <section class="content-wrapper">
    <div class="content-container">
      <article class="article">
        <!-- Section 2: Image on left, text on right -->
        <aside class="image-section">
          <img loading="lazy" src="../../assets/prop_2.png" alt="" class="content-image" />
        </aside>
        <section class="text-section-2">
          <h2 class="title">Proposition 2</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
        </section>
      </article>
    </div>
  </section>
  
  <section class="content-wrapper">
    <div class="content-container">
      <article class="article">
        <!-- Section 3: Text on left, image on right -->
        <section class="text-section">
          <h2 class="title">Proposition 3</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
        </section>
        <aside class="image-section">
          <img loading="lazy" src="../../assets/prop_1.png" alt="" class="content-image" />
        </aside>
      </article>
    </div>
  </section>
  
  <section class="content-wrapper">
    <div class="content-container">
      <article class="article">
        <!-- Section 4: Image on left, text on right -->
        <aside class="image-section">
          <img loading="lazy" src="../../assets/prop_2.png" alt="" class="content-image" />
        </aside>
        <section class="text-section-2">
          <h2 class="title">Proposition 4</h2>
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.</p>
        </section>
      </article>
    </div>
  </section>
  