
<div class="main-container">
    <app-navbar></app-navbar>

<section class="mission-statement">
    <h2 class="mission-title">Our Mission</h2>

  </section>
  <br>
  <section class="message-banner">
    <p class="message-text">
      Building a better bank for society and building a better future for you.
    </p>
  </section>
  <br>
  <section class="our-mission-image-container">
    <img src="{{imageUrl}}" alt="{{imageDescription}}" class="responsive-image" />
  </section>
  <br>
  <section class="content-section">
    <p class="content-text">
      Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante. Lorem ipsum dolor sit amet consectetur. Id vitae phasellus in nam arcu eget fames a enim. Ut tortor luctus mauris sed. Vitae justo tellus ipsum consectetur venenatis consectetur nunc velit. Leo a pellentesque volutpat ante.
    </p>
  </section>
  <app-prop></app-prop>
</div>